korli.fr {
    # Proxy to Next.js
    reverse_proxy korli-frontend:3000 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
    }
}

www.korli.fr {
    redir https://korli.fr
}

